/*

font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --heading: 'Montserrat', sans-serif;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #fff;
}

/* global styling */

img{
    width: 100%;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

hr{
    width: 95vw;
    margin: 0 auto;
}

/* header */

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 20px 30px;
}

.top-head .fas{
    font-size: 2rem;
    cursor: pointer;
}

/******* js related styling *****/

.times-btn{
    display: none;
}

.nav-bar{
    background: #333;
    height: 0;
    overflow: hidden;
}

.show-nav{
    height: auto;
}

/********************/

.nav-bar ul li{
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;
}

.nav-bar ul li:hover{
    background: #0e0e0e;
}

.nav-bar ul li a{
    color: #fff;
    text-transform: uppercase;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
}

/* social -icons */

.social-icons ul {
    list-style: none;
    padding: 0;
}

.social-icons ul li {
    display: inline-block;
    margin-right: 20px; /* Adjust the right margin for spacing */
}

.social-icons ul li:last-child {
    margin-right: 0; /* Remove right margin from the last icon */
}

.social-icons ul li a {
    text-decoration: none;
}

.social-icons ul li:hover {
    transform: scale(1.2);
}

/* Search Bar */
.search-bar {
    margin-right: 20px; /* Adjust spacing from navigation */
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    width: 200px;
    margin-right: 5px;
}

.search-bar button[type="submit"] {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
}

.search-bar button[type="submit"]:hover {
    background: #fff;
    color: #333;
}

/* Default styles for the search bar */
.search-bar {
    display: block; /* Show the search bar by default */
}

/* Media query for screens with ) */
@media screen and (max-width: 768px) {
    .search-bar {
        display: block; /* Keep the search bar visible on smaller screens */
        margin-top: 10px; /* Adjust the margin as needed */
    }


    .search-bar form {
        display: flex;
    }

    .search-bar input {
        flex: 1;
    }

    .search-bar button {
        background: none;
        border: none;
        cursor: pointer;
    }
}


/* Car Articles Container */
.car-articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    justify-content: center; 
    align-items: stretch; 
}

/* banner */

.banner{
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px 0;
    margin-top: 8px;
}

.banner-main-content{
    padding: 0 2rem;
    line-height: 1.7;
}

.banner-main-content h2{
    font-size: 2rem;
    font-family: var(--heading);
}

.banner-main-content h3{
    padding: 1rem 0;
}

.banner-main-content button{
    border: none;
    background: #252525;
    padding: 14px 18px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    transition: background 1s ease;
}

.banner-main-content button a{
    color: #f3f3f3f3;
    transition: color 1s ease;
}

.banner-main-content button:hover{
    background: #fff;
}

.banner-main-content button:hover a{
    color: #0d0a0b;
}


.current-news-head{
    background: #fff;
    padding: 20px;
    font-size: 12px;
    margin: 20px 0;
}

.current-news-head h3{
    padding: 6px;
    cursor: pointer;
    position: relative;
}

.current-news-head h3:hover::before{
    content: ">> ";
    position: absolute;
    left: -12px;
}

.current-news-head span{
    display: block;
    font-family: var(--heading);
    font-weight: 300;
    text-transform: uppercase;
}

.hot-topic {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 12px;
    height: 300px;
    transition: transform 0.3s ease; 
}

.hot-topic:hover {
    transform: scale(1.05); /* Increase the scale on hover */
}

.hot-topic img {
    display: block;
}

.hot-topic-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 20px;
    padding: 10px 20px;
    line-height: 1.5;
    color: #f3f3f3;
    transition: opacity 0.3s ease; /* Add the transition property */
    opacity: 0; /* Start with opacity 0 */
}

.hot-topic:hover .hot-topic-content {
    opacity: 1; /* Change opacity on hover */
}

.hot-topic h2 {
    padding: 10px 0;
    font-size: 18px;
    text-shadow: 0 0 2px #000;
}

.hot-topic h3 {
    padding: 10px 0;
    font-size: 16px;
    text-shadow: 0 0 2px #000;
}

.hot-topic p {
    padding: 10px 0;
    font-size: 15px;
    text-shadow: 0 0 2px #000;
    padding: 12px 10px;
}

.hot-topic-content a {
    display: block;
    background: #f3f3f3;
    border: none;
    width: 95px;
    border-radius: 2px;
    text-align: center;
    padding: 7px 10px;
    font-size: 14px;
    margin: 10px 0 10px 10px;
}

.hot-topic-content a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-left, .main-right {
    flex: 1;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Add the transition property */

}

.main-left-top, .main-right-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-left-top-left, .main-right-top-left {
    flex: 1;
}

.main-left-top-right, .main-right-top-right {
    flex: 0;
}

.main-left-bottom img, .main-right-bottom img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.main-left:hover, .main-right:hover {
    transform: scale(1.05); /* Increase the scale on hover */
}

/* CSS for audio player */
audio {
    width: 100%;
    max-width: 400px; 
    margin: auto 400px; 
  }
  
  /* Style the player controls */
  audio::-webkit-media-controls-panel {
    background-color: #fff; 
    color: #fff; 
    border-radius: 10px; 
  }
  


/****** footer *****/

footer{
    background: #252525;
    color: #f3f3f3;
    padding: 30px;
}

footer h2{
    padding: 10px 0;
}

footer p{
    padding: 10px 0;
    line-height: 1.3;
}

.footer-left, 
.footer-right{
    margin: 0 20px;
}

footer > p{
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}

.footer-right i{
    font-size: 1.8rem;
    color: #808080;
}

.footer-right input{
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    color: #808080;
    padding-right: 10px;
    width: 100%;
}

.footer-right div{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1.6px solid #808080;
}



@media(max-width: 460px){
    .hot-topic-content h2{
        font-size: 16px;
    }

}


@media(min-width: 768px){
    .banner-sub-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container-bottom-left{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}


@media(min-width: 800px){
    /* nav */
    .ham-btn, .times-btn{
        display: none!important;
    }

    .navigation-container{
        display: flex;
        background: #252525;
        align-items: center;
        flex-wrap: wrap;
    }

    .top-head{
        flex: 0 0 15%;
    }

    .nav-bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }

    .nav-bar nav ul{
        display: flex;
        justify-content: center;
    }
    .nav-bar nav ul li{
        padding-right: 30px;
    }

    .nav-bar nav ul li:hover{
        background: none;
    }

    /* social icons */
    .social-icons{
        flex: 0 1 30%;
        display: block;
        margin: 0 auto;
    }

    .social-icons .fab{
        color: #fff;
        font-size: 2rem;
    }
    .social-icons ul{
        display: flex;
        padding: 0px;
    }
    .social-icons ul li{
        padding: 20px;
    }

    .footer-container{
        display: flex;
    }

    .footer-right,
    .footer-left{
        flex: 1;
    }
}

@media(min-width: 992px){
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1080px){
    .banner{
        grid-template-columns: 1fr 2fr;
    }
}

